@import './Button.theme.css';

.button {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gapSmall);
  padding: 0 var(--gap);
  background: var(--bgColor);
  color: var(--fgColor);
  transition: all var(--fastTransition);
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid transparent;
  cursor: pointer;
  user-select: none;
  height: var(--kl-buttonHeight);
  width: var(--kl-buttonWidth);
  white-space: nowrap;

  & .buttonLabel {
    margin-bottom: -1px;
  }

  &:hover {
    background: var(--bgColorInteractive);
    color: var(--fgColorInteractive);
  }
  &:active {
    background: var(--bgColorInteractiveHover);
    color: var(--fgColorInteractiveHover);
    transition: all 0ms;
  }

  &.slim {
    height: 30px;
  }

  &.center {
    justify-content: center;
  }

  &.primary {
    background: var(--bgColorInteractive);
    color: var(--fgColorInteractive);

    &:hover {
      background: var(--bgColorInteractiveHover);
      color: var(--fgColorInteractiveHover);
    }
    &:active {
      background: var(--bgColorInteractiveActive);
      color: var(--fgColorInteractiveActive);
      transition: all 0ms;
    }
  }

  &.green {
    background: var(--bgColorInteractiveGreen);
    color: var(--fgColorInteractiveGreen);

    &:hover {
      background: var(--bgColorInteractiveGreenHover);
      color: var(--fgColorInteractiveGreenHover);
    }
    &:active {
      background: var(--bgColorInteractiveGreenActive);
      color: var(--fgColorInteractiveGreenActive);
      transition: all 0ms;
    }
  }

  &.red {
    background: var(--bgColorInteractiveRed);
    color: var(--fgColorInteractiveRed);

    &:hover {
      background: var(--bgColorInteractiveRedHover);
      color: var(--fgColorInteractiveRedHover);
    }
    &:active {
      background: var(--bgColorInteractiveRedActive);
      color: var(--fgColorInteractiveRedActive);
      transition: all 0ms;
    }
  }

  &.fullWidth {
    width: calc(100% - (var(--gap) * 2) - 4px);
  }
}
